@import url("https://fonts.googleapis.com/css2?family=Montserrat:wght@300;400;500;700&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Inter:wght@300;400;500;600;700&display=swap");

:root {
  // Buttons and highlights, main color of the site
  --clr-primary-700: #24164f;
  --clr-primary-600: #200081;
  --clr-primary-550: #3f2493;
  --clr-primary-500: #361592;
  --clr-primary-400: #3500d4;
  --clr-primary-300: #633adc;
  --clr-primary-100: #b7a2f6;

  --shw-primary-100: rgba(183, 162, 246, 0.9);
  --shw-primary-400: rgba(53, 0, 212, 0.2);
  --shw-neutral-400: rgba(255, 255, 255, 0.2);

  // Header and footer, additional color to primary
  --clr-accent-1000: #000000;
  --clr-accent-950: #040011;
  --clr-accent-900: #08001f;
  --clr-accent-800: #282828;
  --clr-accent-500: #4a4a4a;
  --clr-accent-400: #666666;

  // General background and ambient colors
  --clr-neutral-400: #ffffff;
  --clr-neutral-300: #eeeeee;
  --clr-neutral-200: #d9d9d9;

  // Primary font styles
  // Made for the possible future changes in design
  --ff-primary: "Inter", sans-serif;
  --ff-secondary: "Montserrat", sans-serif;
  --ff-header: var(--ff-secondary);
  --ff-body: var(--ff-primary);

  --fw-light: 300;
  --fw-regular: 400;
  --fw-medium: 500;
  --fw-bold: 700;

  --fs-900: 5.25rem; // 84px
  --fs-800: 4rem; // 64px
  --fs-750: 3rem; // 48px
  --fs-700: 2.5rem; // 40px
  --fs-600: 2rem; // 32px
  --fs-500: 1.5rem; // 24px
  --fs-400: 1.135; //Probably 22px
  --fs-300: 1.25rem; // 20px
  --fs-200: 1.125rem; //Probably 18px
  --fs-100: 1rem; // 16px
  --fs-50: 0.75rem; // 12px

  --header-fs: var(--fs-200);
  --nav-fs: var(--fs-200);
}

//Utilities
@mixin flex($jc: center, $ai: center, $wrap: nowrap, $direction: row) {
  display: flex;
  justify-content: $jc;
  align-items: $ai;
  flex-direction: $direction;
  flex-wrap: $wrap;
}

.flex {
  display: flex;
  justify-content: center;
  align-items: center;
}

.flex.start {
  justify-content: flex-start;
  align-items: flex-start;
}

.flex.spb {
  justify-content: space-between;
}

.flex.column {
  flex-direction: column;
}

.flex.wrap {
  flex-wrap: wrap;
}

.flex.wrap-reverse {
  flex-wrap: wrap-reverse;
}

.clr-primary-300 {
  color: var(--clr-primary-300);
}

.fs-900 {
  font-size: var(--fs-900);
}

.fs-800 {
  font-size: var(--fs-800);
}

.fs-750 {
  font-size: var(--fs-750);
}

.fs-700 {
  font-size: var(--fs-700);
}

.fs-600 {
  font-size: var(--fs-600);
}

.fs-500 {
  font-size: var(--fs-500);
}

.fs-200 {
  font-size: var(--fs-200);
}

.fs-300 {
  font-size: var(--fs-300);
}

.fw-light {
  font-weight: var(--fw-light);
}

.fw-bold {
  font-weight: var(--fw-bold);
}

.fw-medium {
  font-weight: var(--fw-medium);
}

.mt70 {
  margin-top: 4.375rem;
}

//Reseting
// Box sizing rules
*,
*::before,
*::after {
  box-sizing: border-box;
}

// Remove default margin
* {
  margin: 0;
  padding: 0;
  font: inherit;
}

// Remove list styles on ul, ol elements with a list role, which suggests default styling will be removed
ul[role="list"],
ol[role="list"] {
  list-style: none;
}

// Set core root defaults
html:focus-within {
  scroll-behavior: smooth;
}

html {
  font-size: 16px;
}

html,
body {
  // height: 100%;
  font-family: var(--ff-body);
  overflow-x: hidden;
}

// Set core body defaults
body {
  text-rendering: optimizeSpeed;
  line-height: 1.5;
  background: var(--clr-neutral-400);
  &.non-scrollable {
    height: 100vh;
    overflow-y: hidden;
  }
}

// A elements that don't have a class get default styles
a:not([class]) {
  text-decoration-skip-ink: auto;
}

a {
  text-decoration: none;
}

// Make images easier to work with
img,
picture,
svg {
  max-width: 100%;
  display: block;
}

// Remove all animations, transitions and smooth scroll for people that prefer not to see them
@media (prefers-reduced-motion: reduce) {
  html:focus-within {
    scroll-behavior: auto;
  }

  *,
  *::before,
  *::after {
    animation-duration: 0.01ms !important;
    animation-iteration-count: 1 !important;
    transition-duration: 0.01ms !important;
    scroll-behavior: auto !important;
  }
}

//Styles
.container {
  width: clamp(300px, 90%, 1400px);
}

section.container {
  margin-inline: auto;
}

.header-primary {
  @include flex();
  width: 100%;
  font-family: var(--ff-header);
  font-size: var(--fs-200);
}

.address {
  max-width: 66ch;
  min-width: 300px;
  gap: 0.625rem; // 10px
}

.sub-header {
  width: 100%;
  height: 8.75rem; //140px
  .hamburger {
    display: none;
  }
  .flex {
    color: var(--clr-accent-400);
    max-width: 34.375rem; //550px
    gap: 0.625rem; // 10px
  }
  .contact a {
    color: var(--clr-accent-900);
    position: relative;
    &::after {
      content: "";
      display: block;
      width: 100%;
      height: 1px;
      background: var(--clr-accent-900);
      transform: scaleX(0);
      transition: 0.2s ease;
    }
    &:hover::after {
      transform: scaleX(1);
    }
  }
}

.logo {
  height: 4.375rem; // 70px
}

nav {
  width: 100%;
  font-weight: var(--fw-medium);
  background: var(--clr-accent-900);
  color: var(--clr-neutral-400);
  ul {
    width: 100%;
    @include flex();
    a {
      @include flex();
      padding: 1.25rem 3.125rem; // 20px - 50px
      cursor: pointer;
      transition: 0.2s ease;
      color: inherit;
      &:hover {
        background: var(--clr-primary-600);
      }
    }
    a.selected {
      background: var(--clr-primary-700);
    }
  }
}

#homepage,
#servicesPage,
.button,
.title,
.dark-staff .fw-bold,
.projects-footer {
  font-family: var(--ff-secondary);
}

.hero {
  position: relative;
  top: -1px;
  width: 100%;
  height: 43.75rem; // 700px
  color: var(--clr-neutral-400);
  text-align: center;
  gap: 1.25rem; // 20px;
  clip-path: polygon(100% 0, 100% 95%, 50% 100%, 0 95%, 0 0);
  background-image: url("/assets/images/hero-image.jpg");
  background-position: center center;
  background-size: cover;
  .fs-900,
  .fs-500 {
    max-width: 68.75rem; // 1100px
    margin-inline: 20px;
  }
  &::after {
    background: radial-gradient(
      105.64% 59.92% at 50% 35.13%,
      rgba(65, 4, 248, 0.8) 0%,
      rgba(33, 33, 33, 0.8) 100%
    );
    content: "";
    width: 100%;
    height: 100%;
    position: absolute;
    top: 0;
    left: 0;
    z-index: -1;
  }
}

.title {
  margin: 90px 0 40px 0;
  position: relative;
  --after-size: 2.5rem;
  --before-size: 4rem;
}

.title.single {
  margin: 0 0 2.5rem 0;
}

.title:not(.single).white {
  color: var(--clr-neutral-400);
  &::after {
    background-image: url("/assets/icons/fourth-ellipce-white2.svg");
  }
  &::before {
    background-image: url("/assets/icons/fourth-ellipce-white.svg");
  }
}

.title::after,
.title::before {
  content: "";
  position: absolute;
  transform: translate(50%, 50%);
}

.title::before {
  width: var(--before-size);
  height: var(--before-size);
  top: calc(var(--before-size) * -1);
  left: calc((var(--before-size) * -1) - 0.9735rem);
  background: url("/assets/icons/fourth-ellipce.svg");
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
}

.title:not(.single)::after {
  width: var(--after-size);
  height: var(--after-size);
  bottom: calc((var(--after-size) * -1) + 2.5rem);
  right: calc((var(--after-size) * -1) + 1.25rem); // 20px
  background: url("/assets/icons/fourth-ellipce2.svg");
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
}

.title span:first-child {
  color: var(--clr-primary-600);
}

.about-company {
  gap: 30px;
  padding: 80px 0;
  align-items: stretch;
}

.about-company .flex.column {
  flex: 3;
  max-width: 43.75rem; // 700px
  gap: 1.25rem; // 20px;
}

.scrollable-text {
  min-width: 300px;
  height: 21.875rem;
  max-height: 21.875rem;
  min-width: 318px;
  padding-right: 20px;
  overflow-y: scroll;
  color: var(--clr-accent-500);
  &::-webkit-scrollbar {
    width: 0.625rem; // 10px
    border-radius: 0.625rem; // 10px
  }

  /* Track */
  &::-webkit-scrollbar-track {
    background: var(--clr-neutral-200);
    border-radius: 0.625rem; // 10px
  }

  /* Handle */
  &::-webkit-scrollbar-thumb {
    border-radius: 0.625rem; // 10px
    background: var(--clr-primary-400);
  }

  /* Handle on hover */
  &::-webkit-scrollbar-thumb:hover {
    background: var(--clr-primary-600);
  }
}

.swiper-slide {
  overflow: hidden;
}

.swiper-images {
  margin-top: 20px;
  flex: 3;
  height: calc(6rem + 21.875rem + 90px);
  min-width: 31.25rem;
}

.swiper-pagination {
  bottom: 30px !important ;
}

.swiper-pagination-bullet {
  width: 10px !important;
  height: 10px !important;
  margin: 0 5px !important;
  background: var(--clr-accent-400) !important;
  transition: 0.2s ease;
  &:hover {
    transform: scale(1.2);
  }
}

.swiper-pagination-bullet-active {
  background: var(--clr-primary-400) !important;
}

.swiper-images .swiper-slide::before {
  content: "";
  display: block;
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: calc(100% - 60px);
  background: var(--clr-primary-300);
  opacity: 0.25;
  z-index: 1;
}

.swiper-images::after {
  content: "";
  display: block;
  position: absolute;
  right: -50px;
  bottom: 10px;
  width: 100px;
  height: 100px;
  border-radius: 50%;
  background: linear-gradient(
    180deg,
    var(--clr-primary-400) 50%,
    rgba(255, 255, 255, 0) 50%
  );
  z-index: 1;
}

.swiper-images .swiper-slide img {
  width: 100%;
  height: calc(100% - 60px);
  object-fit: cover;
  filter: grayscale(100%);
}

.swiper-prev-button,
.swiper-next-button {
  position: absolute;
  svg path {
    fill: var(--clr-accent-400);
  }
  z-index: 10;
  cursor: pointer;
  &:hover {
    svg path {
      fill: var(--clr-primary-400);
    }
  }
}

.swiper-images .swiper-next-button,
.swiper-project .swiper-next-button,
.swiper-project .swiper-prev-button,
.swiper-images .swiper-prev-button {
  bottom: 0.625rem; // 10px
}

.swiper-project .swiper-next-button,
.swiper-images .swiper-next-button {
  right: 45%;
  transform: translate(50%, 50%);
}

.swiper-project .swiper-prev-button,
.swiper-images .swiper-prev-button {
  left: 45%;
  transform: translate(-50%, 50%);
  svg {
    transform: rotate(180deg);
  }
}

.projects .info-section {
  min-width: 300px;
  padding-top: 0 !important;
}

.gap40 {
  gap: 40px;
}

.swiper-project {
  min-width: 300px;
  width: 100% !important;
  height: 26.25rem;
  border-radius: 1.25rem;
  overflow: hidden;
  .swiper-slide {
    width: 100% !important;
    height: calc(100% - 60px);
    transition: 0.2s ease;
    img {
      border-radius: 1.25rem;
      width: 100%;
      height: 100%;
    }
  }
}

.swiper-staff {
  height: 300px;
  width: 100%;
  .swiper-next-button,
  .swiper-prev-button {
    top: 40%;
  }
  .swiper-next-button {
    right: 5%;
    transform: translate(50%, -30%);
  }
  .swiper-prev-button {
    left: 5%;
    transform: translate(-50%, -30%) rotate(180deg);
  }
}

.clients:not(.swiper) {
  position: relative;
  gap: 2.7rem;
  &::after {
    content: "";
    position: absolute;
    width: 55px;
    aspect-ratio: 55/111;
    top: 10%;
    left: 0;
    background: url("/assets/images/bg-clients-top.png");
    background-repeat: no-repeat;
    background-size: cover;
  }
  .bg-holder {
    padding-bottom: 6.25rem;
  }
}

.swiper.clients {
  width: 100%;
  background: var(--clr-neutral-400);
  max-height: 200px;
  .swiper-slide {
    @include flex();
    margin: auto 0;
    height: 100%;
  }
  img {
    width: auto;
    height: 100%;
  }
}

.pros {
  position: relative;
  background: radial-gradient(
    87.55% 206.98% at 50% 50%,
    var(--clr-primary-500) 0%,
    var(--clr-primary-550) 100%
  );
  clip-path: polygon(0 0, 100% 10%, 100% 90%, 0% 100%);
  padding: 12.5rem 0;
  &::after {
    content: "";
    position: absolute;
    top: 10%;
    right: 0;
    width: 5%;
    aspect-ratio: 146/295;
    background: url("/assets/images/bg-primary-top.png");
    background-size: cover;
    background-repeat: no-repeat;
    z-index: -1;
  }
  &::before {
    content: "";
    position: absolute;
    bottom: 10%;
    left: 0;
    width: 3%;
    aspect-ratio: 81/171;
    background: url("/assets/images/bg-primary-bottom.png");
    background-size: cover;
    background-repeat: no-repeat;
    z-index: -1;
  }
  .container {
    gap: 4.375rem; // 70px
    color: var(--clr-neutral-400);
  }
  .flex.wrap {
    width: 100%;
    gap: 1.5625rem;
  }
  .flex.column.start:not(.container) {
    max-width: 28.125rem;
    min-width: 18.75rem;
    gap: 0.625rem; // 10px
    .fs-300 {
      color: var(--clr-neutral-300);
    }
  }
  img {
    width: clamp(70px, 25%, 110px);
  }
}

.staff {
  transform: translateY(1px);
  gap: 2.5rem;
  .bg-holder {
    padding-bottom: 7.875rem;
  }
  img {
    width: 200px;
    height: 200px;
    border-radius: 50%;
    margin-bottom: 0.625rem; // 10px
  }
  .flex:not(.column) {
    gap: 5rem;
  }
  .flex.column {
    color: var(--clr-neutral-400);
    text-align: center;
  }
  &.mainPage {
    padding: 4.375rem 0;
  }
}

.mainPage .flex.column {
  color: var(--clr-accent-1000);
}

footer {
  width: 100%;
  background: var(--clr-accent-950);
  padding: 4.375rem 0; // 70px
  &,
  a {
    color: var(--clr-neutral-400);
  }
  a {
    height: 1.6rem;
  }
  a:hover {
    color: var(--clr-primary-100);
    svg path {
      fill: var(--clr-primary-100);
    }
  }
  svg,
  img:not(.logo) {
    width: 1.25rem; // 20px;
  }
  .logo {
    width: 10.625rem;
    height: auto;
    margin-top: 1.25rem; // 20px;
  }
  .flex {
    gap: 0.625rem; // 10px
  }
  .footer-address {
    max-width: 52ch;
    margin-left: 3rem;
  }
}

.services {
  .flex.wrap {
    margin: 40px 0;
  }
}

.box {
  gap: 10px;
  text-align: center;
  margin: 10px;
  width: clamp(300px, 100%, 500px);
  padding: 30px 50px;
  border-radius: 20px;
  background: var(--clr-neutral-400);
  img {
    width: 70px;
    margin: 0;
  }
  .image {
    padding: 30px;
    background: var(--clr-primary-300);
    border-radius: 50%;
    display: block;
  }
  .fw-medium.fs-300 {
    max-width: 29ch;
    color: var(--clr-accent-1000);
  }
}

.button {
  font-weight: var(--fw-bold);
  text-decoration: none;
  color: var(--clr-neutral-400);
  margin-top: 0.625rem;
  padding: 0.625rem 1.875rem;
  border-radius: 20px;
  background: var(--clr-primary-300);
  gap: 0.625rem !important;
  transition: 0.2s ease;
  &:hover {
    box-shadow: 0 5px 5px var(--shw-primary-100);
  }
}

.button.presentation {
  color: var(--clr-neutral-400);
  background: none;
  border: 1px solid var(--clr-neutral-400);
  transition: 0.2s ease;
  svg path {
    fill: var(--clr-neutral-400);
  }
  &:hover {
    background: var(--clr-neutral-400);
    color: var(--clr-accent-1000);
    box-shadow: 0 5px 5px var(--shw-neutral-400);
    svg path {
      fill: var(--clr-accent-1000);
    }
  }
}

.button.white {
  background: var(--clr-neutral-400);
  color: var(--clr-accent-1000);
  &:hover {
    box-shadow: 0 5px 5px var(--shw-neutral-400);
  }
}

.back-section {
  width: 100%;
}

.main-info {
  padding-bottom: 8.75rem;
  gap: 10px;
  &.servicePage {
    padding-bottom: calc(5.3125rem - 40px);
  }
  .flex.column.flex-4:first-child {
    flex: 3;
  }
  .flex.column.flex-4 {
    justify-content: flex-start;
    position: relative;
    flex: 4;
    height: 100%;
    min-width: 300px;
  }
  .flex.column {
    .flex-1 {
      flex: 1;
      min-height: 100px;
      width: 100%;
      margin-top: 20px;
    }
    .flex-4 {
      flex: 4;
    }
  }
  .fw-light.start,
  .fw-medium.start {
    div {
      min-width: 140px;
    }
  }
  img {
    width: 26.875rem;
    height: 26.875rem;
    border-radius: 50%;
  }
  .fs-100:not(.fw-light) {
    padding: 0.625rem 0;
    &::before {
      content: "-";
      display: inline-block;
      margin-right: 10px;
      font-size: var(--fs-100);
    }
  }
}

.back-button {
  gap: 0.625rem;
  padding: 0.625rem;
  border-radius: 0.625rem;
  color: var(--clr-accent-1000);
  margin-right: 5px;
  &:hover {
    background: var(--clr-neutral-200);
  }
}

.gradient-line {
  position: relative;
  margin-bottom: 3rem;
  &::after {
    content: "";
    position: absolute;
    bottom: -1.5rem;
    left: 0;
    width: 20.625rem;
    height: 0.625rem;
    border-radius: 1.25rem;
    background: linear-gradient(
      90deg,
      var(--clr-primary-300) 4.53%,
      var(--clr-primary-100) 97.28%
    );
  }
}

.info-section {
  width: 100%;
  align-items: flex-start;
  justify-content: flex-start;
  ul {
    list-style: none; /* Remove default bullets */
    li {
      padding-left: 15px;
      margin: 15px 0;
      max-width: 51ch;
      ul li {
        color: var(--clr-accent-400);
        font-weight: var(--fw-light);
        &::before {
          width: 7px;
          height: 7px;
          background: var(--clr-accent-1000);
          top: calc(1rem + 0.1875rem);
        }
      }
    }
  }

  ul li::before {
    content: "";
    width: 10px;
    height: 10px;
    position: relative;
    top: calc(1rem + 0.3125rem);
    left: -15px;
    border-radius: 50%; /* Add content: \2022 is the CSS Code/unicode for a bullet */
    background: var(--clr-primary-400); /* Change the color */
    // font-weight: var(--fw-bold); /* If you want it to be bold */
    display: block; /* Needed to add space between the bullet and the text */
    // width: 1rem; /* Also needed for space (tweak if needed) */
    // margin-right: 10px; /* Also needed for space (tweak if needed) */
  }

  .about {
    align-items: stretch;
  }
  .about,
  .additional-info {
    margin-bottom: 3rem;
  }
  .about,
  .about .flex {
    gap: 20px;
  }
  .additional-info {
    max-width: 65ch;
  }
}

.dark-staff {
  gap: 1.5rem;
  .button:hover {
    box-shadow: 0 5px 5px var(--shw-primary-400);
  }
  .flex.wrap {
    gap: 1.25rem;
    .flex.column {
      min-width: 300px;
      max-width: 350px;
      flex: 1;
      text-align: center;
      img {
        margin-bottom: 0.625rem;
        border-radius: 50%;
      }
      .button {
        margin-top: 1rem;
      }
    }
  }
}

.dark-staff,
.projects-footer {
  background: var(--clr-accent-800);
  color: var(--clr-neutral-400);
  padding: 4.375rem 0;
  position: relative;
  &::after,
  &::before {
    content: "";
    position: absolute;
  }
  &::after {
    width: 3%;
    aspect-ratio: 77/158;
    bottom: 3%;
    left: 0;
    background: url("/assets/images/bg-staff-bottom.png");
    background-repeat: no-repeat;
    background-size: cover;
    min-width: 40px;
  }
  &::before {
    width: 4%;
    aspect-ratio: 147/295;
    min-width: 60px;
    top: 5%;
    right: 0;
    background: url("/assets/images/bg-staff-top.png");
    background-repeat: no-repeat;
    background-size: cover;
  }
}

.bg-holder {
  background: var(--clr-primary-500);
  width: 100%;
  padding: 8.75rem 0 4.375rem 0;
  clip-path: polygon(50% 10%, 100% 0, 100% 100%, 0 100%, 0 0);
}
.staff:not(.mainPage),
.sertificates,
.services {
  position: relative;
  &::after,
  &::before {
    content: "";
    position: absolute;
  }
  &::after {
    width: 8%;
    aspect-ratio: 271/236;
    bottom: 0;
    right: 0;
    background: url("/assets/images/bg-sertificates-bottom.png");
    background-repeat: no-repeat;
    background-size: cover;
  }
  &::before {
    width: 8%;
    aspect-ratio: 1/1;
    top: 0;
    left: 0;
    background: url("/assets/images/bg-sertificates-top.png");
    background-repeat: no-repeat;
    background-size: cover;
  }
}

.sertificates {
  .container {
    gap: 20px;
  }
  .sertificate-image-wrapper {
    flex: 1, 1;
    min-width: 18.75rem;
    max-width: 27.1875rem;
    border-radius: 3.125rem;
    transition: 0.2s ease;
    cursor: pointer;
    &.inView {
      transition: 0.5s ease;
      @include flex();
      position: fixed;
      left: 0;
      top: 0;
      width: 100vw;
      height: 100vh;
      max-width: none;
      background: rgba(0, 0, 0, 0.7);
      border-radius: 0;
      z-index: 2;
      padding: 10px;
      img {
        max-width: 37.5rem;
      }
    }
    &:not(.inView):hover {
      transition-delay: 0s !important;
      transform: scale(1.05) !important;
    }
  }
  img {
    width: 100%;
    height: auto;
    border-radius: 1.25rem;
    object-fit: contain;
  }
  .sertificate-bg-holder {
    width: 100%;
    height: 100%;
    position: relative;
    padding: 8.75rem 0;
    &::before {
      content: "";
      box-sizing: border-box;
      position: absolute;
      z-index: -1;
      top: 0;
      left: 0;
      right: 0;
      bottom: 0;
      background: radial-gradient(
        54.96% 54.96% at 50% 54.66%,
        #5f2bf3 0%,
        #3f1ba8 100%
      );
      clip-path: polygon(50% 5%, 100% 0, 100% 100%, 0 100%, 0 0);
    }
  }
}

.contacts {
  padding: 8.75rem 0;
  .flex.wrap {
    align-items: stretch;
    gap: 30px;
  }
  .title {
    margin-top: 0;
  }
  .footer-address {
    margin-top: 10px;
  }
  .flex {
    gap: 10px;
    a {
      color: var(--clr-accent-1000);
      position: relative;
      &::after {
        content: "";
        width: 100%;
        height: 1px;
        background: var(--clr-accent-1000);
        transform: scaleX(0);
        position: absolute;
        bottom: 0;
        left: 0;
        transition: 0.2s ease;
      }
      &:hover::after {
        transform: scaleX(1);
      }
    }
  }
  svg,
  img {
    width: 20px;
  }
}

iframe {
  flex: 1;
  max-width: 600px;
  min-width: 300px;
  border-radius: 50px;
  min-height: 300px;
}

.allProjects {
  .flex.wrap.container {
    color: var(--clr-neutral-400);
  }
}

.projects {
  .flex.wrap.container {
    position: relative;
    gap: 2.5rem;
  }
  .flag {
    width: 85px;
    border-radius: 0;
    margin-right: 20px;
    height: auto;
  }
  .projects-bg-holder {
    background: var(--clr-primary-500);
    width: 100%;
    padding: 8.75rem 0 4.375rem 0;
    clip-path: polygon(50% 5%, 100% 0, 100% 100%, 0 100%, 0 0);
  }
}

.project-container {
  position: relative;
  flex: 1, 1;
  min-width: 300px;
  width: 27.5rem;
  max-width: 440px;
  transition: 0.2s ease;
  .flex.spb {
    margin-top: 1.56rem;
  }
  &:hover {
    transform: translate(0, -5px);
  }
}

.swiper-projects {
  width: 100% !important;
  height: 270px;
  cursor: pointer;
  .swiper-slide {
    border-radius: 1.25rem;
    width: 100% !important;
  }
  img {
    width: 100%;
    height: calc(100% + 5px);
    transform: translate(0, -1px);
    object-fit: cover;
  }
}

.projects-footer {
  .flex.column.start {
    max-width: 130ch;
    gap: 30px;
  }
  .fw-bold {
    margin-bottom: 10px;
  }
}

.contacts,
.projects {
  position: relative;
  &::after,
  &::before {
    content: "";
    position: absolute;
  }
  &::after {
    width: 8%;
    aspect-ratio: 1/1;
    bottom: 0;
    left: 0;
    background: url("/assets/images/bg-sertificates-top.png");
    background-repeat: no-repeat;
    background-size: cover;
    transform: rotate(-90deg);
  }
  &::before {
    width: 4%;
    aspect-ratio: 124/236;
    top: 5%;
    min-width: 60px;
    right: 0;
    background: url("/assets/images/bg-contacts-top.png");
    background-repeat: no-repeat;
    background-size: cover;
  }
  &.allProjects::before {
    z-index: 1;
    opacity: 0.2;
    pointer-events: none;
  }
}

.projects {
  &::after {
    width: 4%;
    bottom: 60%;
    background: url("/assets/images/bg-clients-top.png");
    background-repeat: no-repeat;
    background-size: cover;
    aspect-ratio: 55/111;
    transform: rotate(0);
  }
  &::before {
    width: 6%;
    top: 60%;
  }
}

.service-bg-holder {
  position: relative;
  &::after,
  &::before {
    content: "";
    position: absolute;
  }
  &::after {
    max-width: 110px;
    width: 5%;
    aspect-ratio: 55/111;
    top: 170px;
    left: 0;
    background: url("/assets/images/bg-clients-top.png");
    background-repeat: no-repeat;
    background-size: cover;
  }
  &::before {
    width: 4%;
    aspect-ratio: 124/236;
    top: 240px;
    min-width: 60px;
    right: 0;
    background: url("/assets/images/bg-contacts-top.png");
    background-repeat: no-repeat;
    background-size: cover;
  }
}

.main-content {
  max-width: 137ch;
  margin-top: 1rem;
  .gradient-line {
    margin-bottom: 60px;
    gap: 20px;
    &.fl-start {
      justify-content: flex-start;
      align-items: flex-start;
      .image {
        margin-top: 10px;
      }
    }
    &::after {
      width: 100%;
    }
    .image {
      width: 50px;
      height: 50px;
      background: var(--clr-primary-300);
      border-radius: 50%;
      img {
        width: 30px;
        height: 30px;
        margin: 0;
        border-radius: 0;
      }
    }
  }
  .flex.fs-700.fw-medium {
    gap: 10px;
  }
  .fs-300 {
    .color {
      color: #6750A9;
    }
    .fs-500 {
      margin-bottom: 1rem;
    }
    div {
      margin-bottom: 40px;
    }
    ul, ol {
      padding-left: 20px;
    }
  }
}

@media screen and (min-width: 1400px) {
  .swiper-staff {
    .swiper-next-button,
    .swiper-prev-button {
      display: none;
    }
  }
}

@media screen and (max-width: 1500px) {
  html {
    font-size: 14px;
  }
}

@media screen and (max-width: 1400px) {
  .swiper-staff {
    .swiper-next-button {
      right: 20px;
    }
    .swiper-prev-button {
      left: 20px;
    }
  }
}

@media screen and (max-width: 1320px) {
  html {
    font-size: 12px;
  }
  .services .bg-holder,
  .projects .projects-bg-holder {
    clip-path: polygon(50% 3%, 100% 0, 100% 100%, 0 100%, 0 0);
  }
}

@media screen and (max-width: 1125px) {
  .hero .fs-900 {
    font-size: 3.5rem;
  }
  header {
    height: 80px;
    overflow: hidden;
    position: relative;
    transition: 0.5s ease;
    img:not(.logo) {
      width: 20px;
      margin-right: 10px;
    }
  }

  header.opened {
    height: 100vh;
    .hamburger {
      transform: translate(0, -10px);
      span {
        opacity: 0;
      }
      span:first-child {
        opacity: 1;
        transform: rotate(45deg);
        top: calc(50% + 2px);
      }
      span:last-child {
        opacity: 1;
        transform: rotate(-45deg);
      }
    }
  }
  .sub-header {
    height: 100vh;
    flex-direction: column-reverse;
    justify-content: flex-start !important;
    align-items: flex-start;
    padding-bottom: 20px;
    .logo {
      position: absolute;
      top: 20px;
      left: 20px;
      height: 45px;
    }
    .hamburger {
      @include flex();
      gap: 10px;
      flex-direction: column;
      position: absolute;
      right: 20px;
      top: 20px;
      width: 40px;
      height: 40px;
      span {
        transition: 0.2s ease;
        position: relative;
        display: block;
        width: 40px;
        height: 2px;
        background: var(--clr-accent-900);
      }
    }
  }
  nav {
    position: absolute;
    top: 80px;
    height: calc(100vh - 210px);
    z-index: 2;
    .container {
      width: 100%;
      ul {
        flex-direction: column;
        a {
          width: 100%;
        }
      }
    }
  }
  .sertificates .sertificate-bg-holder::before {
    clip-path: polygon(50% 3%, 100% 0, 100% 100%, 0 100%, 0 0);
  }
}

@media screen and (max-width: 795px) {
  .staff,
  .sertificates {
    .bg-holder {
      clip-path: polygon(50% 3%, 100% 0, 100% 100%, 0 100%, 0 0);
    }
  }
  .sertificates .container {
    flex-direction: column;
  }
  .main-projects .fw-light.start {
    flex-direction: column;
  }
}

@media screen and (max-width: 810px) {
  footer {
    .footer-big {
      font-size: 16px;
    }
    .fs-200 {
      font-size: var(--fs-100);
    }
    .footer-address {
      margin-left: 0;
    }
    .container {
      flex-direction: column;
      justify-content: flex-start;
      gap: 20px;
    }
  }
  .pros {
    clip-path: polygon(0 0, 100% 5%, 100% 100%, 0 95%);
    .flex.wrap {
      gap: 50px;
      max-width: 35ch;
    }
  }
  .title {
    --after-size: 2rem;
    --before-size: 2.5rem;
    &::before {
      top: calc(var(--before-size) * -1 + 10px);
      left: calc(var(--before-size) * -1 - 10px);
    }
  }
}

@media screen and (max-width: 711px) {
  .empty {
    display: none;
  }
  .dark-staff .flex.wrap {
    gap: 3rem;
  }
}

@media screen and (max-width: 600px) {
  .swiper-images {
    min-width: 300px;
    height: 250px;
  }
  .swiper-project,
  .swiper-images {
    .swiper-next-button {
      right: 40%;
    }
    .swiper-prev-button {
      left: 40%;
    }
  }
  .fs-900 {
    font-size: 3rem;
  }
}

@media screen and (max-width: 430px) {
  .fs-800 {
    font-size: var(--fs-750);
  }
  .hero .fs-900 {
    font-size: 2.5rem;
  }
  .hero .fs-500 {
    font-size: 1.3rem;
  }
  .title {
    --after-size: 1.5rem;
    --before-size: 1.8rem;
    &::before {
      top: calc(var(--before-size) * -1 + 5px);
      left: calc(var(--before-size) * -1 - 5px);
    }
    &:not(.single)::after {
      bottom: calc((var(--after-size) * -1) + 25px);
      right: calc((var(--after-size) * -1) + 10px);
    }
  }
}
